@import "tailwindcss";


 @theme {
  --color-main: #9e7642;
  --color-warning: #ffc107;
  --color-dark: #212529;

  --font-sans: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;

  --breakpoint-xl-custom: 1200px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cairo', 'Segoe UI', Tahoma, sans-serif;
}
.main-container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .main-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}