@import "tailwindcss";

 @theme {
  --color-main: #9e7642;
  --color-warning: #ffc107;
  --color-dark: #212529;

  --font-sans: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;

  --breakpoint-xl-custom: 1200px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cairo', 'Segoe UI', Tahoma, sans-serif;
}
